<h2> Welcome, please find all the emotions that were created so far: </h2>
<h5> <% Emotion.all.each do |emotion1| %>
	- <%= emotion1.name %> - <% end %> </h5>
<h5> Unfortunately, you can only create an emotion when creating a Gimoji. So, please create your gimoji <a href='/gimojis/new'>here</a>.</h5>