<h2>Create a new Gimoji</h2>
<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<form action="/gimojis" method="POST">
	<label>Gimoji</label>
	<br></br>
	<label for="name">Name</label>
	<input type="text" id="name" name="gimoji[name]">
	<br></br>
	<label for="tag">Tag</label>
	<input type="text" id="tag" name="gimoji[tag]">
	<br></br>
	<label>Select Emotion</label>
	<% Emotion.all.each do |emotion| %>
    <input id="emotion_<%= emotion.id %>" type="checkbox" name="gimoji[emotion_ids][]" value="<%= emotion.id %>" >
    <%=emotion.name%></input><% end %>
	<label for="new-emotion">(and/or) Create Emotion</label>
	<input type="text" id="new_emotion" name="gimoji[new_emotion]">
	<br></br>

    <input type="submit" value="Create" name="Create Emoji">
  </form>
  <form action="/logout"> <input type="submit" name="submit" value="Log Out" id="submit"></a></form>
