<h1>Welcome to Gimoji</h1>

<h2> Gimoji is an application that helps you create, update and delete gimojis. These gimojis can then be gifted to other users. </h2>

<h3>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h3>
